<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
 th:fragment="layout(signup)">
	
	<head>
		<meta charset="UTF-8"/>
	<title>This is home page</title>
	</head>
	<body>
		<div th:replace="${signup}">
		
	</div>
			<section>
			<div class="container">
				<div class="row">
					
					<div class="col-md-8 offset-md-2">
						<div class="my-card"></div>
						<h1 class="text-center">Admin Signin</h1>
						<form action="" th:action="@{signup}" method="post">
							<div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="gmail" 
    class="form-control"
     id="exampleInputEmail1" 
     aria-describedby="emailHelp" 
     placeholder="Enter email"/>
     </div>
  
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" 
    class="form-control" 
    id="exampleInputPassword1" 
    placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
							
						</form>
						
					</div>
					
				</div>
			</div>
			
			
			
			
			</section>
		</body>
</html>
