body{
	background: #e2e2e2!important;
}
.bg-primary{
background:  #009688 !important;
text-decoration-color: orange;

}
.img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.my-card{
	padding: 20px;
}